<footer>
  <!-- tp-footer area start -->
  <div class="tp-footer-area tp-bg-theme-primary pt-115 pb-40">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="tp-footer-widget tp-footer-3-widget mb-40 mr-10">
            <a class="mb-30 d-inline-block" href="/"
              ><img
                data-width="168"
                src="assets/img/logo/logo6.png"
                alt=""
              /></a
            >
            <p class="tp-text-grey-3 mb-30">
              Your trusted partner in workplace safety and awareness.
            </p>
            <div class="tp-footer-bottom-social mb-20">
              <ul class="d-flex align-items-center">
                <li>
                  <a href="https://www.linkedin.com/company/secure-place/">
                    <svg
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
                        fill="currentColor"></path>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="tp-footer-widget ml-70 mb-40">
            <h5 class="fw-500 fs-24 tp-text-common-white mb-25">
              Useful links
            </h5>
            <div class="tp-footer-menu">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/features">Features</a></li>
                <li><a href="/certification">Certification</a></li>
                <li><a href="/industriesweserve">Industries We Serve</a></li>
                <li><a href="/demo">Demo</a></li>
                <!-- <li><a href="/">Industries We Serve</a></li>
                                    <li><a href="/">Blogs</a></li>
                                    <li><a href="/">Demo</a></li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="tp-footer-widget mb-40">
            <h5 class="fw-500 fs-24 tp-text-common-white mb-25">
              Features
            </h5>
            <div class="tp-footer-menu">
              <ul>
                <li><a href="#">Emergency Alert</a></li>
                <li><a href="#">Drill Management Training</a></li>
                <li><a href="#">Employee Safety Data</a></li>
                <li><a href="#">Contact Directory</a></li>
                <li><a href="#">Medical Training</a></li>
                <li><a href="#">Training Classes</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="tp-footer-widget tp-footer-meinus mb-40">
            <h5 class="fw-500 fs-24 tp-text-common-white mb-25">Legality</h5>
            <div class="tp-footer-menu">
              <ul>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Terms and condition</a></li>
                <li><a href="#">Cookie policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tp-footer-bottom pt-55">
      <div class="container">
        
          <div class="row align-items-center">
            <div class="col-lg-4 col-md-6">
              <div class="tp-footer-bottom-copyright mb-20">
                <p class="tp-text-border-3 mb-0 lh-22">
                  © <span id="year"></span>
                  <a href="#" class="tp-text-common-white">Secure Place</a>. All
                  Rights Reserved.
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="tp-footer-logo text-md-center mb-20">
                <a href="/"
                  ><img
                    data-width="168"
                    src="assets/img/logo/logo6.png"
                    alt=""
                  /></a
                >
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              
            </div>
          </div>
        
      </div>
    </div>
  </div>
  <!-- tp-footer area end -->
</footer>
